.container{
    padding: 50px 30px;
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:30px;
    background-color: rgb(217, 202, 233);
    min-height: 80vh;
}

.heading{
    margin: 0 auto;
    max-width: 500px;
    color: black;
    font-size: 3.1rem;
    font-weight: bold;
    line-height: 4.1rem;
    letter-spacing: 1px;
}

.heading span{
    background-clip: text;
    background-image: linear-gradient(to right,#42036f,#842fc1);
    color: transparent;
}

.right img{
    width: 400px;
}